<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List city</title>
    <head th:replace="/layout :: head"></head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<a th:href="@{/cities/create}" class="btn btn-primary">Add New City</a>
<body>
<h1>Danh sách thành phố</h1>
<th:block  th:if="${mess}">
    <span th:text="${mess}"></span>
</th:block>
<table id="customers">
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="c: ${city}">
        <tr>
            <td><a th:href="@{'/cities/view/' + ${c.id}}" th:text="${c.name}"></a></td>
            <td th:text="${c.country.name}"></td>
            <td><a th:href="@{'/cities/edit/'+${c.id}}" type="button" class="btn btn-primary">Edit</a></td>
            <td><a th:href="@{'/cities/delete/'+${c.id}}" type="button" class="btn btn-danger" onclick="return confirm('Do you want delete ?');">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>
