<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="/layout :: head"></head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1 th:text="'Thành phố: ' + ${city.name}"></h1>
<div>
    <div th:text="'Id: '+${city.id}"></div>
    <br>
    <div th:text="'Name: '+${city.name}"></div>
    <br>
    <div th:text="'Country: '+${city.country.name}"></div>
    <br>
    <div th:text="'Area: '+${city.totalArea}"></div>
    <br>
    <div th:text="'Population: '+${city.population}"></div>
    <br>
    <div th:text="'GDP: '+${city.gdp}"></div>
    <br>
    <div th:text="'Description: '+${city.description}"></div>
    <br>
</div>
<a th:href="@{'/cities/create'}">Thêm </a>
<a th:href="@{'/cities/edit/' + ${city.id}}"> Sửa </a>
<a th:href="@{'/cities/delete/' + ${city.id}}"> Xóa </a>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>
